<settings>
    
    <setting propertyKey="@Properties.Latitude" title="@Strings.LatitudeTitle">
        <settingConfig type="numeric" min="-90" max="90" required="true" errorMessage="@Strings.CoordinateError"/>
    </setting>

    <setting propertyKey="@Properties.Longitude" title="@Strings.LongitudeTitle">
        <settingConfig type="numeric" min="-180" max="180" required="true" errorMessage="@Strings.CoordinateError"/>
    </setting>
    
    <setting propertyKey="@Properties.FixedLocation" title="@Strings.FixedLocationTitle">
        <settingConfig type="boolean"/>
    </setting>
    
    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.OpenWeatherMapAPI" title="@Strings.OpenWeatherMapTitle">
        <settingConfig type="alphaNumeric" />
    </setting>
    
    <setting propertyKey="@Properties.RefreshRateOWM" title="@Strings.RefreshRateTitle">
        <settingConfig type="list">
            <listEntry value="5">5</listEntry>
            <listEntry value="10">10</listEntry>
            <listEntry value="15">15</listEntry>
            <listEntry value="30">30</listEntry>
            <listEntry value="60">60</listEntry>
            <listEntry value="120">120</listEntry>
            <listEntry value="240">240</listEntry>
            <listEntry value="720">720</listEntry>
            <listEntry value="1440">1440</listEntry>
        </settingConfig>
    </setting>
    
</settings>
